python-telegram-bot==22.5
groq==0.34.0
Pillow==10.4.0
pytesseract==0.3.10
opencv-python==4.8.0.76
requests==2.31.0
httpx<0.29,>=0.27
aiohttp>=3.9.0
fastapi==0.95.2
uvicorn==0.22.0
gunicorn==20.1.0
python-multipart==0.0.6
python-dotenv==1.0.0
SQLAlchemy==2.0.22
psycopg2-binary==2.9.7
sqlalchemy-utils==0.41.0
pydub==0.25.1
